

#title{
  background-color: #ff4c68;
  color: white;
}

body{
   font-family: Montserrat;
}

h1 {
font-family: 'Montserrat-black', sans-serif;
font-size: 3.5rem;
line-height: 1.5;

}

#features{
  padding: 3% 15%;
  background-color: white;
  position: relative;


}
.featurebox{
  text-align: center;
  padding: 5%;
}
p{
  color: #8f8f8f;
}

/* navigation bar */

.navbar {
  padding:0 0 4.5rem;
}

.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-size: 1.2rem;
  font-family: "Montserrat-light";
}


.navbar-brand{
  font-family: "Ubuntu";
  font-weight: bold;
  font-size: 2.5rem;
}

/* download buttons */

.download-button{
  margin: 5% 3% 5% 0 ;
}

/* title image */

.title-image{
  width: 40%;
  transform: rotate(25deg);
  margin-left: 50px;
  position: absolute;
  right: 30%;


}

h3{
  font-size: 1.5rem;
  font-family: "Montserrat-black";
}
h2{
  font-family: Montserrat-bold;
  line-height: 1.5;
  font-size: 3.5rem;

}

.mid{
  margin-top: 40px;
}

.fas{
  color: #ef8172;
  margin-bottom:  1rem;
}
.far{
  color: #ef8172;
  margin-bottom: 1rem;
}


.fas:hover{
  color:#ff4c68;
}
.far:hover{
  color:#ff4c68;
}

#testimonials{
  padding: 7% 15%;
  text-align: center;
  background-color: #ef8172;
  color: white;

}
.testimonials-image{
  width:10%;
  border-radius:100%;
  margin: 20px;
}

#press{
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo{
  width: 10%;
  margin: 20px 20px 50px;
}

.carousel-item{
  padding: 7% 15%;
}

#pricing{

  padding: 100px;
  text-align: center;


}

.pricingco{
  padding: 3% 2%;
}

@media (max-width: 1028px){
#title{
  text-align: center;
}


.title-image{
   position: static;
   transform: rotate(0);
}
